<template>
    <Page>
        <NotFound v-if="!$isGranted('users') && !$isGranted('community')" />
        <div v-else>
            <p>
                <nuxt-link to="/admin">
                    <Icon v="user-cog" />
                    <T>admin.header</T>
                </nuxt-link>
            </p>
            <h2>
                <Icon v="user-cog" />
                Profiles
            </h2>

            <Loading :value="chart">
                <ChartSet :name="`profiles (${config.locale})`" :data="chart" init="cumulative" />
            </Loading>
        </div>
    </Page>
</template>

<script lang="ts">
import { useFetch, useNuxtApp } from 'nuxt/app';
import { defineComponent } from 'vue';

import useConfig from '~/composables/useConfig.ts';
import useSimpleHead from '~/composables/useSimpleHead.ts';

export default defineComponent({
    async setup() {
        const { $translator: translator } = useNuxtApp();
        const config = useConfig();
        useSimpleHead({
            title: `${translator.translate('admin.header')} • Profiles`,
        }, translator);

        const { data: chart } = await useFetch(
            `/api/admin/stats/users-chart/${config.locale}`,
            { server: false, lazy: true },
        );

        return {
            config: useConfig(),
            chart,
        };
    },
});
</script>
