<template>
    <div>
        <Separator icon="pen-nib" />
        <h3>Deklinationsmuster</h3>
        <ul class="list-group mt-4">
            <template v-for="({ declension, warning = null }, name) in declensionPatterns">
                <li
                    v-if="!warning"
                    :id="name"
                    :key="name"
                    class="list-group-item d-flex align-items-center flex-wrap"
                >
                    <h4 class="col-12 col-md-4">
                        <nuxt-link :to="`deklinationsmuster#${name}`">{{ name }}</nuxt-link>
                    </h4>
                    <span v-if="declension?.singular.N" class="col">⋅ {{ declension.singular.N[0] }}</span>
                    <span v-if="declension?.plural.N" class="col">⁖ {{ declension.plural.N[0] }}</span>
                </li>
            </template>
        </ul>
        <Separator icon="book-open" />
        <slot></slot>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import declensionPatterns from './declensionPatterns.ts';

export default defineComponent({
    data() {
        return {
            declensionPatterns,
        };
    },
});
</script>
