<template>
    <ul v-if="config.links.names && config.links.names.length" class="list-unstyled">
        <LinkEntry v-for="link in config.links.names" :key="link.url" :link="link" />
    </ul>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import useConfig from '../composables/useConfig.ts';

export default defineComponent({
    setup() {
        return {
            config: useConfig(),
        };
    },
});
</script>
