<template>
    <section>
        <h2>
            <Icon v="tags" />
            <T>home.pronouns</T>
        </h2>
        <p>
            <T>pronouns.introDisclaimer</T>
        </p>
    </section>
</template>
