<template>
    <div>
        <section>
            <h2>
                <Icon v="tags" />
                <Spelling text="Sugerowane formy niebinarne i neutralne" />
            </h2>

            <p>
                <Spelling
                    text="Choć nie narzucamy i nie wartościujemy żadnych spośród propozycji niebinarnego i neutralnego płciowo języka,
                    to dostrzegamy też potrzebę zasugerowania, które formy zdają się według naszych obserwacji i"
                />
                <nuxt-link to="/blog/spis-2022">badań</nuxt-link>
                <Spelling text="mieć największy potencjał, by stać się „domyślnymi”, normatywnymi formami gramatycznymi. Szczegóły w naszym Manifeście:" />
            </p>

            <nuxt-link to="/manifest" class="btn btn-primary d-block-force">
                <Icon v="file-contract" />
                <Spelling text="Manifest Niebinarnej Polszczyzny" />
            </nuxt-link>

            <section class="d-flex flex-column flex-md-row">
                <div class="flex-grow-1">
                    <h3 class="mb-0">
                        Dla osób niebinarnych
                    </h3>
                    <p class="h6">
                        szukających sposobów na wyrażenie siebie
                    </p>
                    <ul>
                        <li>
                            <nuxt-link to="/ono">
                                <strong>Rodzaj neutralny</strong>
                            </nuxt-link>
                            <br>
                            <small>
                                (ono/jego, „zrobiłom”, „poszłoś”…)
                                <br>
                                Są <a href="https://web.archive.org/web/20231127162243/https://rjp.pan.pl/index.php?option=com_content&view=article&id=317:byom-byo&catid=44&Itemid=208" target="_blank" rel="noopener">poprawne gramatycznie</a>
                                i <nuxt-link to="/blog/spis-2022">popularne w społeczności</nuxt-link>.
                            </small>
                        </li>
                        <li>
                            <nuxt-link to="/neutratywy">
                                <strong>Neutratywy</strong>
                            </nuxt-link>
                            <br>
                            <small>
                                (to „dziennikarze”, „twórcze”, „niebinie”…)
                            </small>
                        </li>
                    </ul>
                </div>
                <div class="flex-grow-1">
                    <h3>Język neutralny płciowo</h3>
                    <ul>
                        <li>
                            <nuxt-link to="/osobatywy">
                                <strong>Osobatywy</strong>
                            </nuxt-link>
                            <br>
                            <small>
                                („osoby pracujące”, „osoby wolontariackie”…)
                            </small>
                        </li>
                        <li>
                            <nuxt-link to="/unikanie">
                                <strong>Unikanie form nacechowanych płciowo</strong>
                            </nuxt-link>
                        </li>
                        <li>
                            <nuxt-link to="/onx">
                                <strong>Formy z iksem</strong>
                            </nuxt-link>
                            <br>
                            <small>
                                („chciałxbyś”, „przyszłxś”, „samx”, „miłx”…)
                                <br>
                                przy zwrotach do osób osób, których płci nie znamy
                                <br>
                                (na hasła, plakaty itp., natomiast niezbyt do długich tekstów)
                            </small>
                        </li>
                    </ul>
                </div>
            </section>
        </section>

        <h2>
            <Icon v="tags" />
            Inne propozycje form
        </h2>
    </div>
</template>
