<template>
    <Page>
        <LinksNav v-if="config.links.enabled" />

        <h2 class="mb-4">
            <Icon v="map-marker-question" />
            <T>faq.headerLong</T>
        </h2>

        <FilterBar v-model="filter" />

        <details v-show="!filter || $t('home.mission.header').toLowerCase().includes(filter.toLowerCase())" class="border mb-3" open>
            <summary class="d-none"></summary>
            <div class="px-3">
                <Mission />
            </div>
        </details>

        <AdPlaceholder :phkey="['content-0', 'content-mobile-0']" />

        <section itemscope itemtype="https://schema.org/FAQPage">
            <Answer
                v-for="question in Object.keys($t('faq.questions'))"
                v-show="!filter ||
                    $t(`faq.questions.${question}.question`).toLowerCase().includes(filter.toLowerCase()) ||
                    $t(`faq.questions.${question}.answer`).join('|').toLowerCase().includes(filter.toLowerCase())"
                :id="question"
                :key="question"
                :ref="question.replace(/-/g, '_')"
                :question="question"
                @click="setHash('', question)"
            />
        </section>

        <AdPlaceholder :phkey="['content-1', 'content-mobile-1']" />

        <section>
            <Share :title="$t('faq.headerLong')" />
        </section>
    </Page>
</template>

<script>
import { useNuxtApp } from 'nuxt/app';
import { defineComponent } from 'vue';

import useConfig from '../composables/useConfig.ts';
import useHash from '../composables/useHash.ts';
import useSimpleHead from '../composables/useSimpleHead.ts';

export default defineComponent({
    setup() {
        definePageMeta({
            translatedPaths: (config) => translatedPathByConfigModule(config.faq),
        });

        const { $translator: translator } = useNuxtApp();
        useSimpleHead({
            title: translator.translate('faq.headerLong'),
        }, translator);
        const { handleHash, setHash } = useHash();
        return {
            config: useConfig(),
            handleHash,
            setHash,
        };
    },
    data() {
        return {
            filter: '',
        };
    },
    mounted() {
        this.handleHash('', (hash) => {
            const $component = this.$refs[hash.replace(/-/g, '_')];
            if (!$component) {
                return;
            }
            const $el = $component[0].$el;
            $el.open = true;
            $el.focus();
            $el.scrollIntoView();
            setTimeout((_) => {
                $el.scrollIntoView();
            }, 1000);
        }, false);
    },
});
</script>

<style lang="scss" scoped>
    @import "assets/variables";

    details {
        summary {
            font-weight: bold;
        }
        &[open] {
            box-shadow: $box-shadow;
        }
    }
</style>
