<script setup lang="ts">
import useConfig from '~/composables/useConfig.ts';
import Suggested from '~/data/pronouns/Suggested.vue';

definePageMeta({
    translatedPaths: (config) => translatedPathByConfigModule(config.pronouns),
});

const config = useConfig();
</script>

<template>
    <Page v-if="config.pronouns.enabled">
        <section>
            <Suggested />

            <div
                v-if="config.pronouns.sentence && config.pronouns.sentence.examples"
                class="alert alert-info small mt-3"
            >
                <Icon v="lightbulb-on" />
                <T>pronouns.sentence</T>
                <ul class="mb-0">
                    <li v-for="example in config.pronouns.sentence.examples">
                        <a :href="`https://${example}`" target="_blank" rel="noopener">{{ example }}</a>
                    </li>
                </ul>
                <T v-if="$te('pronouns.domainThanks')">pronouns.domainThanks</T>
            </div>

            <CardsBanner />

            <AdPlaceholder :phkey="['content-0', 'content-mobile-0']" />

            <PronounsIndex examples />
        </section>

        <AdPlaceholder :phkey="['content-1', 'content-mobile-1']" />

        <Separator icon="fist-raised" />

        <Mission />

        <Separator icon="heart" />
        <Support />
        <section>
            <Share />
        </section>
    </Page>
</template>

<style lang="scss">
    @import "../assets/variables";

    .form-input {
        text-align: center;
        &.active {
            /*@include alert-variant(
                theme-color-level('primary', $alert-bg-level),
                theme-color-level('primary', $alert-border-level),
                theme-color-level('primary', $alert-color-level)
            );FIXME*/
        }
        &.form-control {
            width: auto;
            display: inline;
        }
        &[size="0"] {
            width: .5rem !important;
        }
    }

    /*@include media-breakpoint-up('md', $grid-breakpoints) {
        .btn-md-lg {
            @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
        }
    }*/
</style>
