<script setup lang="ts">
definePageMeta({
    translatedPaths: (config) => {
        if (!config.pronouns.enabled || !config.pronouns.mirror) {
            return [];
        }
        return withPronounPrefixes(config, [`/${encodeURIComponent(config.pronouns.mirror.route)}`]);
    },
});

const config = useConfig();
if (!config.pronouns.enabled || !config.pronouns.mirror) {
    throw new Error('config.pronouns.mirror is disabled');
}

const { $translator: translator } = useNuxtApp();
const route = useRoute();
useSimpleHead({
    title: `${translator.translate('pronouns.intro')}: ${config.pronouns.mirror.name}`,
    description: config.pronouns.mirror.description,
    banner: `api/banner${route.path.replace(/\/$/, '')}.png`,
}, translator);
</script>

<template>
    <Page v-if="config.pronouns.enabled && config.pronouns.mirror">
        <h2>
            <Icon v="tag" />
            <T>pronouns.intro</T><T>quotation.colon</T>
        </h2>

        <section>
            <div class="alert alert-primary">
                <h2 class="text-center mb-0">
                    <strong><Spelling :text="config.pronouns.mirror.name" /></strong>
                </h2>
            </div>
        </section>

        <section>
            <h2 class="h4">
                <Icon v="file-signature" />
                <T>pronouns.examples.header</T><T>quotation.colon</T>
            </h2>
            <ul>
                <li v-for="(example, i) in config.pronouns.mirror.example" :key="i">
                    <LinkedText :text="example" />
                </li>
            </ul>
        </section>

        <section>
            <div class="alert alert-light">
                <Icon v="info-circle" />
                <LinkedText :text="config.pronouns.mirror.description" />
            </div>
        </section>

        <AdPlaceholder :phkey="['content-0', 'content-mobile-0']" />

        <section>
            <Share :title="`${$t('pronouns.intro')}: ${config.pronouns.mirror.name}`" />
        </section>

        <Separator icon="info" />
        <section class="mb-0">
            <h2 class="h4">
                <Icon v="info-circle" />
                <T>home.whatisit</T>
            </h2>
            <T>home.about</T>
            <Homepage align="center" />
        </section>
    </Page>
</template>
