<template>
    <Page>
        <LinksNav />

        <Media />

        <Socials />
        <Separator icon="heart" />
        <Support />
        <section>
            <Share :title="$t('links.social')" />
        </section>
    </Page>
</template>

<script lang="ts">
import { useNuxtApp } from 'nuxt/app';
import { defineComponent } from 'vue';

import useSimpleHead from '~/composables/useSimpleHead.ts';

export default defineComponent({
    setup() {
        definePageMeta({
            translatedPaths: (config) => {
                if (!config.links.enabled || !config.links.mediaRoute) {
                    return [];
                }
                return [`/${encodeURIComponent(config.links.mediaRoute)}`];
            },
        });

        const { $translator: translator } = useNuxtApp();
        useSimpleHead({
            title: translator.translate('links.media'),
        }, translator);
    },
});
</script>
